<div class="packages-logo">
    <img id="packages-img" src="/img/packages.jpeg" alt="Student" width="100%">
    <div id="packages-slogan">Dashboard</div>
</div>

<h1 id="greeting">Hello, {{user.[firstName]}} {{user.[lastName]}}!</h1>

<a href="/logout">Logout</a>

{{#if user.[clerk]}}
<br>
<a href="/mealPackages/edit">Edit Meal Packages</a>
{{else}}
{{/if}}