<form action="/customerRegistration" method="post" class="form-login">
    <h1>Create Account</h1>
    <div class="form-login">
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName" id="firstName" required>
    </div>
    <div class="form-login">
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName" id="lastName" required>
    </div>
    <div class="form-login">
        <label for="email">Email: </label>
        <input type="email" name="email" id="email" required>
    </div>
    <div class="form-login">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" required>
    </div>
    <input type="hidden" name="clerk" id="clerk">
    <div class="form-login">
        {{#each errors}}
        <p class="errors">{{this}}</p>
        </br>
        {{/each}}
        <input type="submit" value="SIGN UP">
    </div>
</form>
<br>